<!DOCTYPE html>
<html>
<head>
 <title></title>
</head>
<body>
<style>
 
 td {
        width: 150px;
        text-align: center;
        border: 1px solid black;
        padding: 5px;
      }
</style>
<div class="content">
    {% for data in employee_ %}
        <div class="employee">
            <p>
                <b>TeamID:</b>{{ data[0] }}
                <b>LeagueID:</b>{{ data[1] }}
                <b>Name:</b>{{ data[2] }}
            </p>
        </div>
    {% endfor %}
</div>  
</body>
</html>









